<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gdata.dapp" >


    <uses-permission android:name = "android.permission.GET_ACCOUNTS" />

    <uses-permission android:name = "com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name = "android.permission.INTERNET" />

    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name = "android.permission.WAKE_LOCK" />

    <uses-permission android:name = "android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name = "android.permission.VIBRATE" />



    <uses-sdk

        android:minSdkVersion = "19"

        android:targetSdkVersion="21" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.shipit.android" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name="com.shipit.android.SIM_GcmListenerSvc"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="com.shipit.android.SIM_InstanceIDListenerSvc"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="com.shipit.android.SIM_RegsIntentSvc"
            android:exported="false"></service>
        <service android:name="com.shipit.android.SIM_NotifArtist"></service>
        <service
            android:name="com.shipit.android.SIM_GeoFencing"
            android:exported="false"></service>

        <activity
            android:name="com.shipit.android.SIM_NotifActionActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay"></activity>
        <activity
            android:name="com.shipit.android.SIM_InAppNotifArtist"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent"></activity>
        <activity
            android:name="com.shipit.android.SIM_NotifDisp"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_notif_disp"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent"></activity>

    </application>

</manifest>
